<div>
  {{#ui-form newValue=model  validation="save" cancel="cancel" bigIcon='tag' smallIcon='plus' header='Tag' description='Adding an object'}}
    <div class="field">
      <label id="" class="" for="frmEdit-identity">Title</label>
      <div class="ui action input">
        {{input placeholder="tag..." value=model.tag.title}}
        <select onchange={{action (mut model.tag.color) value="target.value"}} class="ui-compact-selection-dropdown">
        {{#each model.colors as |color|}}
          <option value="{{color}}">{{color}}</option>
        {{/each}}
        </select>
        <a class="ui button" {{action "newTag" model.tag model}}>New tag</a>
      </div>
    </div>
  {{/ui-form}}
</div>{{outlet}}